server:
  port: ${APP_PORT:9007}

management:
  endpoints:
    web:
      exposure:
        include: "health"
  endpoint:
    health:
      show-details: always

spring:
  datasource:
    url: jdbc:mysql://${DB_HOST:classroom_mysql}:${DB_PORT:3306}/${DB_NAME:db_spring_student7}?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:rahasia_banget}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:                    
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
